<h2>My tasks</h2>

<ul>
    <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %> | <%= link_to 'Delete task', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
</ul>

<%= link_to 'Add new task', tasks_new_path %>

<ul>
    <% @tasks.each do |task| %>
        <li><%= check_box_tag(task.id, task.completed, checked = task.completed ? true : false, disabled: true) %><%= label_tag(:status, task.title) %></li>
    <% end %>
</ul>

<ul>
    <%= form_tag("#", method: "get") do%>
        <% @tasks.each do |task| %>
           <li><%= check_box_tag(task.id, task.completed, checked = task.completed ? true : false, disabled: false) %><%= label_tag(:status, task.title) %></li>
        <% end %>
        <%= submit_tag("Atualizar") %>
    <% end %>
</ul>


<%# <form action="/action_page.php">
  <input type="checkbox" name="vehicle1" value="Bike">
  <label for="vehicle1"> I have a bike</label><br>
  <input type="checkbox" name="vehicle2" value="Car">
  <label for="vehicle2"> I have a car</label><br>
  <input type="checkbox" name="vehicle3" value="Boat" checked>
  <label for="vehicle3"> I have a boat</label><br><br>
  <input type="submit" value="Submit">
</form>
 %>
