<h2>My tasks</h2>

<ul>
    <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %> | <%= link_to 'Delete task', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
</ul>

<%= link_to 'Add new task', new_task_path %>

<ul>
    <% @tasks.each do |task| %>
        <li><%= check_box_tag(task.id, task.completed, checked = task.completed ? true : false, disabled: true) %><%= label_tag(:status, task.title) %></li>
    <% end %>
</ul>

<ul>
    <%= form_tag("#", method: "get") do%>
        <% @tasks.each do |task| %>
           <li><%= check_box_tag(task.id, task.completed, checked = task.completed ? true : false, disabled: false) %><%= label_tag(:status, task.title) %></li>
        <% end %>
        <%= submit_tag("Atualizar") %>
    <% end %>
</ul>
